header spam {
    display: flex;
    justify-content: space-between;
}

.search__container {
    display: flex;
    flex-direction: space-evenly;
    margin-top: 3em;
}

input {
    background-color: var(--box-background);
    border-radius: 20px;
    border: 1px solid transparent;
    color: var(--light-font);
    font-family: var(--text-font-family);
    margin-right: 1em;
    outline: none;
    padding: 15px;
    text-align: center;
    width: 90%;
}

input:hover {
    border: 1px solid var(--button-hover-color);
}

input:focus {
    border: 1px solid var(--button-hover-color);
}

.color-mode:hover {
    color: var(--button-hover-color);
}

.search__button {
    background-color: var(--button-color);
    border: none;
    border-radius: 12px;
    color: var(--light-font);
    font-family: var(--text-font-family);
    outline: none;
    padding: 10px;
    width: 8em;
}

.search__button:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}

input::placeholder {
    color: var(--light-font);
    font-family: var(--text-font-family);
    background: url('../img/lupa.png') no-repeat 1em;
    background-size: contain;
    padding-left: 3em;
}

.color-mode {
    cursor: pointer;
    text-transform: uppercase;
}


/*Smartphone*/
@media screen and (max-width: 767px) {
    .title__container {
        flex-direction: column;
        align-items: center;
    }

    .color-mode {
        margin-top: 1em;
    }

    .search__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .search__button {
        margin-top: 1em;
        position: static;
    }
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .title__container {
        flex-direction: column;
        align-items: center;
    }

    .color-mode {
        margin-top: 1em;
    }

    .search__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .search__button {
        margin-top: 1em;
        position: static;
    }
}

