.profile__container {
    background-color: var(--box-background);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
    padding: 4em;
}

.profile__image img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.profile__title-joined {
    display: flex;
    justify-content: space-between;
}

.profile__user-bio {
    display: flex;
    flex-direction: column;
}

.profile__username {
    color: var(--user-color);
    margin-top: 0.5em;
}

.profile__bio {
    margin-bottom: 2.5em;
    margin-top: 1.5em;
}

.profile__statistic {
    background-color: var(--background);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    text-align: center;
}

.profile {
    width: 80%;
    padding-left: 3em;
}

.social__container {
    display: flex;
    justify-content: space-around;
    margin-left: 1em;
    margin-top: 3.5em;
    width: 100%;
}

.social__link {
    margin-top: 2em;
}

.social__work {
    margin-top: 2em;
}

.social__container i {
    margin-right: 0.5em;
}

.statistic {
    margin-top: 1.5em;
}