.profile__container {
    background-color: var(--box-background);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
    padding: 4em;
}

.profile__image img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.profile__title-joined {
    display: flex;
    justify-content: space-between;
}

.profile__user-bio {
    display: flex;
    flex-direction: column;
}

.profile__username {
    color: var(--user-color);
    margin-top: 0.5em;
}

.profile__bio {
    margin-bottom: 2.5em;
    margin-top: 1.5em;
}

.profile__statistic {
    background-color: var(--background);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    text-align: center;
}

.profile {
    width: 80%;
    padding-left: 3em;
}

.social__container {
    display: flex;
    justify-content: space-around;
    margin-left: 1em;
    margin-top: 3.5em;
    width: 100%;
}

.social__link {
    margin-top: 2em;
}

.social__work {
    margin-top: 2em;
}

.social__container i {
    margin-right: 0.5em;
}

.statistic {
    margin-top: 1.5em;
}

/*Smartphone*/
@media screen and (max-width: 767px) {
    .profile__container {
        align-items: center;
        flex-direction: column;
        margin-top: 1em;
        padding: 1em;
        width: 100%;
    }
    
    .profile {
        padding-left: 0;
        width: 100%;
    }

    .social__container {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        justify-content: space-around;
        margin: 3.5em 0 1.5em 0;
        width: 100%;
    }

    .social__location-link {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 2em;
    }

    .profile__image img {
        margin-bottom: 1.5em;
    }

    .profile__title-joined {
        flex-direction: column;
    }

    .profile__joined {
        margin-top: 1em;
    }
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px)  {
    .profile__container {
        align-items: center;
        flex-direction: column;
        margin-top: 1em;
        padding: 1em;
        width: 100%;
    }
    
    .profile {
        padding-left: 0;
        width: 100%;
    }

    .social__container {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        justify-content: space-around;
        margin: 3.5em 0 1.5em 0;
        width: 100%;
    }

    .social__location-link {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 2em;
    }

    .profile__image img {
        margin-bottom: 1.5em;
    }

    .profile__title-joined {
        flex-direction: column;
    }

    .profile__joined {
        margin-top: 1em;
    }
}